.content{
   margin: 50vh auto 0;
   transform: translateY(-50%);
   
  padding: 15px 10px;
  background:aliceblue;
  font-size:15px;
  
  display: flex;
  justify-content: center;
  align-items: center;

   width: 80%;
   height:300px;
   
   text-transform: uppercase;
}

.content_item{
width:300px;
margin:0 auto;
   
}

.form-control{
    border: 1px solid rgba(0, 0, 0, 0.447);
    margin-right: 10px;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0px;
   
    
    width:80px;
    height:30px;
    appearance: none;
    border:2px solid plum;
    
  
}

button:hover{
    border: 2px solid aliceblue;
    background-color: plum;
}

table{
    border-collapse: separate;
    border-spacing: 17px 15px;
}
